.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
  background: rgb(58, 112, 66);
}

.header a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding: 5px;
}

.header a:hover {
  text-decoration: underline;
}
